<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<!-- 서블릿 등록 -->
	<servlet>
		<servlet-name>now</servlet-name>   <!-- servlet 구현에 있어 반드시 작성해줘야 할 부분 -->
		<!-- 패키지까지 포함시켜서 서블릿으로 사용할 클래스 등록 -->
		<servlet-class>servlet.NowServlet</servlet-class>   <!-- servlet 구현에 있어 반드시 작성해줘야 할 부분 -->
		<init-param> <!-- 이 서블릿을 생성할때 param-value값을 클래스에 넣어주는 역할 -->
			<param-name>location</param-name>
			<param-value>부산</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>  <!-- 웹어플리케이션이 was에 도착하면 객체를 만들어라 -->
	</servlet>
	
	
	
	<!-- 서블릿 URL 매핑 -->
	<servlet-mapping>
		<servlet-name>now</servlet-name>  <!-- 서블릿을 등록한 이름 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>