body {
	color:black;
	background-color: aqua;
	font-family: 돋음;
	font-size: 12px;
}

a {
	color: black;
	text-decoration: none;
}

a:HOVER {
	color: green;
	text-decoration: underline;
}